.block {
  display: block;
  width: 100%;
  border: #000000;
  border-style: solid;
  background-color: #04AA6D;
  padding: 14px 14px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

.inner-div{
	font-size: 50px;
}


.smaller-div{
	font-size: 25px;
}

.foot{
  font-size: 15px;
  
}